.paymentprocess{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .alert-message{
    background-color: #666;
    color: white;
    width: 600px;
    text-align: center;
    border-radius: 3px;
  }

  .paypalButton{
    width: 600px;
    text-align: center;
  }
}

@media all and (max-width: 1100px) {

  .paymentprocess{
    .alert-message{
      color: white;
      max-width: 300px !important;
    }
    .paypalButton{
      width: 300px;
      text-align: center;
    }
}
}